.main {
    padding-block-start: 5rem;
}
.live-score {
    align-items: center;
    justify-content: center;
}
.league {
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-block-end: 5rem;
}
.league img {
    width: 3rem;
}
.league h4 {
    text-transform: capitalize;
    color: var(--blue-color);
}
.teams-container {
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.team-box {
    position: relative;
    width: 20rem;
    height: 10rem;
    text-align: center;
}
.team-box img {
    width: 4rem;
}
.team-box h4 {
    text-transform: capitalize;
}
.result {
    font-size: 3rem;
    font-weight: 900;
    color: var(--yellow-color);
    padding: .2rem .5rem;
}