.header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 4rem;
    background: var(--black-color);
    box-shadow: var(--shadow);
}
.header__container {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
}
.header__toggle, .header__logo, .header__search {
    padding: .5rem;
    cursor: pointer;
}
.header__toggle span {
    font-size: 1.5rem;
    color: var(--white-color);
}
.header__toggle span:last-child {
    display: none;
}
.header__logo {
    align-items: center;
    gap: .2rem;
}
.header__logo img {
    width: 1.5rem;
    height: 1.5rem;
}
.header__logo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--logo-color);
    text-transform: capitalize;
}
.header__search span {
    font-size: 1.5rem;
}